[submodule "prologmud_server"]
	path = prologmud_server
	url = https://logicmoo.org/gitlab/logicmoo/prologmud_server
[submodule "rocksdb"]
	path = packs_lib/rocksdb/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "packs_sys/eggdrop"]
	path = packs_sys/eggdrop
	url = https://github.com/logicmoo/eggdrop
[submodule "packs_sys/wam_common_lisp"]
	path = packs_sys/wam_common_lisp
	url = https://github.com/logicmoo/wam_common_lisp
[submodule "packs_sys/logicmoo_utils"]
	path = packs_sys/logicmoo_utils
	url = https://github.com/logicmoo/logicmoo_utils
[submodule "packs_sys/pfc"]
	path = packs_sys/pfc
	url = https://github.com/logicmoo/pfc
